body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.titulo {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  background-color: white;
  border: 1px solid#b9d4f4;
  display: flex;
  flex-direction: column;
  width: 190px;
  max-width: 190px;
  height: 210px;
  padding: 10px;
  border-radius: 12px;
  justify-content: space-around;
  align-items: center;
}

.card:hover {
  color: #276abd;
  cursor: pointer;
  scale: 1.1;
}

#logo {
  width: 200px;
  height: 60px;
}

#logo:hover {
  width: 201px;
  height: 61px;
}

.texto {
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.container {
  background-color: #e28d2c;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.topBar {
  background-color: #e48e2b;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
  width: 100vw;
  height: 60px;
}